<main class="mt-5">
  <h3 class="text-center m-4">Blog title</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla vitae magna et finibus. Sed sit amet arcu vel
  risus pretium efficitur sed eu felis. Quisque ac condimentum neque. Sed ligula quam, elementum quis volutpat at, rhoncus
  et dolor. Nam elementum, dui sed elementum finibus, nulla diam maximus mi, a elementum metus lorem sit amet neque.
  Suspendisse facilisis posuere tellus, quis faucibus risus sodales ut. In quis sem ac quam malesuada aliquet at non enim.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla vitae magna et finibus. Sed sit amet arcu vel
  risus pretium efficitur sed eu felis. Quisque ac condimentum neque. Sed ligula quam, elementum quis volutpat at, rhoncus
  et dolor. Nam elementum, dui sed elementum finibus, nulla diam maximus mi, a elementum metus lorem sit amet neque.
  Suspendisse facilisis posuere tellus, quis faucibus risus sodales ut. In quis sem ac quam malesuada aliquet at non enim.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla vitae magna et finibus. Sed sit amet arcu vel
  risus pretium efficitur sed eu felis. Quisque ac condimentum neque. Sed ligula quam, elementum quis volutpat at, rhoncus
  et dolor. Nam elementum, dui sed elementum finibus, nulla diam maximus mi, a elementum metus lorem sit amet neque.
  Suspendisse facilisis posuere tellus, quis faucibus risus sodales ut. In quis sem ac quam malesuada aliquet at non enim.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla vitae magna et finibus. Sed sit amet arcu vel
  risus pretium efficitur sed eu felis. Quisque ac condimentum neque. Sed ligula quam, elementum quis volutpat at, rhoncus
  et dolor. Nam elementum, dui sed elementum finibus, nulla diam maximus mi, a elementum metus lorem sit amet neque.
  Suspendisse facilisis posuere tellus, quis faucibus risus sodales ut. In quis sem ac quam malesuada aliquet at non enim.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla vitae magna et finibus. Sed sit amet arcu vel
  risus pretium efficitur sed eu felis. Quisque ac condimentum neque. Sed ligula quam, elementum quis volutpat at, rhoncus
  et dolor. Nam elementum, dui sed elementum finibus, nulla diam maximus mi, a elementum metus lorem sit amet neque.
  Suspendisse facilisis posuere tellus, quis faucibus risus sodales ut. In quis sem ac quam malesuada aliquet at non enim.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fringilla vitae magna et finibus. Sed sit amet arcu vel
  risus pretium efficitur sed eu felis. Quisque ac condimentum neque. Sed ligula quam, elementum quis volutpat at, rhoncus
  et dolor. Nam elementum, dui sed elementum finibus, nulla diam maximus mi, a elementum metus lorem sit amet neque.
  Suspendisse facilisis posuere tellus, quis faucibus risus sodales ut. In quis sem ac quam malesuada aliquet at non enim.</p>
</main>
