<header class="info-text">
  <p>Experience The</p>
  <h1>Best Trip Ever</h1>
  <p>We are committed to offering travel services of the highest quality combining our energy and enthusiasm with years of experience</p>
  <button type="button" class="btn btn-lg bg-purple">Contact us</button>
</header>
<main class="text-content">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Very nice title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut enim nec sem consectetur facilisis. Aenean tempus,
      tellus sed pharetra congue, orci diam varius elit, quis egestas nibh nisi eget diam. In iaculis eros vitae tellus
      vulputate, ut bibendum risus porta. Quisque sem dui, fringilla eget volutpat vitae, volutpat eget ex. Duis maximus
      condimentum iaculis. Pellentesque rutrum consequat mauris ac vehicula. Nunc quis rutrum libero. Fusce ut sollicitudin
      orci, et malesuada elit. Cras ac arcu nec ipsum aliquam facilisis at sed arcu. Vestibulum semper nunc id neque
      fringilla, id viverra turpis luctus. Etiam ut molestie nunc.</p>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../assets/photo.jpg" class="img-fluid rounded" alt="bridge">
    </div>
  </div>
</main>